<% const adminPath = typeof currentPath === 'string' ? currentPath : ''; %>
<% const catalogIsActive = adminPath === '/mode' || adminPath.startsWith('/update/'); %>
<nav class="navbar navbar-expand-lg navbar-dark navbar-admin sticky-top" id="adminNav">
    <a class="navbar-brand" href="/mode" aria-label="Ir al catálogo administrativo">
        <i class="fa-solid fa-leaf navbar-brand-icon"></i>
        <span class="navbar-brand-text">Solnatura</span>
        <span class="badge badge-admin ml-2">Panel</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAdmin"
        aria-controls="navbarNavAdmin" aria-expanded="false" aria-label="Abrir menú de administración">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAdmin">
        <ul class="navbar-nav admin-navbar-links ml-lg-auto">
            <li class="nav-item <%= catalogIsActive ? 'active' : '' %>">
                <a class="nav-link admin-nav-link" href="/mode" <% if (catalogIsActive) { %>aria-current="page"<% } %>>
                    <i class="fa-solid fa-boxes-stacked"></i>
                    <span>Catálogo</span>
                </a>
            </li>
            <li class="nav-item <%= adminPath === '/upload' ? 'active' : '' %>">
                <a class="nav-link admin-nav-link admin-nav-link--primary" href="/upload"
                    <% if (adminPath === '/upload') { %>aria-current="page"<% } %>>
                    <i class="fa-solid fa-plus"></i>
                    <span>Nuevo producto</span>
                </a>
            </li>
            <li class="nav-item <%= adminPath === '/modecat' ? 'active' : '' %>">
                <a class="nav-link admin-nav-link" href="/modecat" <% if (adminPath === '/modecat') { %>aria-current="page"<% } %>>
                    <i class="fa-solid fa-folder-tree"></i>
                    <span>Categorías</span>
                </a>
            </li>
            <li class="nav-item <%= adminPath === '/mode/auditoria' ? 'active' : '' %>">
                <a class="nav-link admin-nav-link" href="/mode/auditoria"
                    <% if (adminPath === '/mode/auditoria') { %>aria-current="page"<% } %>>
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span>Historial</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link admin-nav-link admin-nav-link--external" href="/" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-solid fa-store"></i>
                    <span>Ver tienda</span>
                    <i class="fa-solid fa-arrow-up-right-from-square admin-nav-external-icon"></i>
                </a>
            </li>
        </ul>

        <form action="/admin/logout" method="post" class="admin-logout-form ml-lg-3 my-2 my-lg-0">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit" class="btn admin-logout-button rounded-pill">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Cerrar sesión</span>
            </button>
        </form>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
